<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/dashboard.css" />
</head>
<body>
  <div class="container">
    <nav>
      <div class="navbar">
        <div class="logo">
          <h3><bold>PROFILE</bold></h3>
        </div>
        <ul>
          <li><a href="/dashboard"><i class="fas fa-archway"></i><span class="nav-item">Home</span></a></li>
          <li><a href="/iq"><i class="fas fa-tasks"></i><span class="nav-item">IQ Test</span></a></li>
          <li><a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item">Logout</span></a></li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <div class="main-top">
        <p>Welcome <%= user.name %></p>
      </div>
      <div class="main-body">
        <div class="job_card">
          <div class="job_details">
            <div class="img"><i class="fa fa-user"></i></div>
            <div class="text">
              <h2>Your Details</h2>
              <span>Name: <%= user.name %></span><br/>
              <span>Email: <%= user.email %></span><br/>
              <span>Phone: <%= user.number %></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>


